body {
    background-color: rgb(216, 216, 216);
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
}

header{
    display: flex;
    height: 4rem;
    border-bottom: solid;    /* line under the whole header (as placeholder for future graphic or <hr>-element */
    border-bottom-width: 2px;
}

.logo  {                             /*  positioning of logo box  */
   margin: 0.5vh;
   min-height: fit-content;
   display: flex;
   align-items: flex-end;
}

.logo img {
     height: 100%;                      /* image fills 100% of it's box (.logo) */
     box-shadow: 2px 2px 5px grey;    /* litte shadow makes the egdes softer */
}

.menu-bar{                  
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;      
}


 .nav-buttons{
    flex: 0.16;         /* makes all button the same size */
    text-align: center;
    margin: 0.5vh;
    box-shadow: 1px 1px 5px grey; /* litte shadow makes the egdes softer */
    border-radius: 5px; /*round button-corners */
    
    font-family: Garamond,serif;
    font-size: larger;
     
} 


